{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        {% if request.user.is_authenticated %}
            <script>
                window.location.href = "{% url 'homepage' %}"
            </script>
        {% else %}
            <h2>Registrieren</h2>
            <form method="post">
                {% csrf_token %}
                {{ authentificationForm }}
                <button type="submit" class="btn btn-info">Registrieren</button>
            </form>
        {% endif %}
    </div>
{% endblock %}