{% load static %}
<script src="{% static 'javaScript/script.js' %}"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cron-Job</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-inverse bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand text-info font-weight-bold" href="/">
                <img src='../../static/img/cronjob.jpg' width="35" height="35" class="d-inline-block align-top mr-2"
                     alt="">Cron-Job
            </a>

            <a class="text-white navbar-link ml-2" href="{% url 'homepage' %}">Cron-Job erfassen</a>
            <!--<a class="text-white navbar-link ml-2" href="{% url 'test' %}">Cron-Job testen</a> -->

        </div>
        <ul class="nav navbar-nav navbar-right">
            <div class="row">
                <div class="col">
                    {% if request.user.is_authenticated %}
                        <li>
                            <a href="{% url 'logout' %}">
                                <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Logout</button>
                            </a>
                        </li>

                    {% else %}
                        </div>
                        <div class="col">
                            <li>
                                <a href="{% url 'login' %}">
                                    <button class="btn btn-info my-2 my-sm-0" type="submit">Login</button>
                                </a>
                            </li>
                        </div>
                        <div class="col">
                            <li>
                                <a href="{% url 'authentification' %}">
                                    <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Registrieren
                                    </button>
                                </a>
                            </li>
                        </div>
                        </div>
                    {% endif %}
        </ul>
    </div>
</nav>


<br>
{% block content %} {% endblock %}
<br>





</body>
<footer>
    <div class="footer-copyright text-center py-3 bg-dark text-info" id="footer">2019 Copyright © Ilona Siegrist</div>
</footer>
</html>